/* Quiz */
.results-sub-container {
  display: none;
}

.flashcard {
  display: flex;
  justify-content: center;
}
.button-continaer, .results-container{
  display: flex;
  justify-content: space-evenly;
}
