/* .results-sub-container {
  display: none;
} */

/* From startbootstrap template */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.flashcard {
  display: flex;
  justify-content: center;
}
.button-continaer{
  display: flex;
  justify-content: center;
}
